
#banner {
	font-size: 24px;
	font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightgray;
    border-bottom: 3px groove gray;
}

#heading {
	font-size: 32px;
	font-weight: bold;
    padding-bottom: 20px;
}

#card-container {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#add-btn {
    height: 100%;
    width: 75%;
    border: 1px solid black;
}

.edit-input {
    min-width: 270px;
    padding: 0px;
}

.edit-check {
    font-size: 28px;
    color: green;
}
.edit-check .btn.disabled, .btn:disabled {
    opacity: 0.35;
}

.edit-close {
    font-size: 28px;
    color: red;
}

.card-columns {
    column-count: 2;
}
.card-body {
    padding: 15px;
}

.my-card-name {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 5px;
}

.my-card-email {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.my-card-time {
    font-size: 14px;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 5px;
}

.my-card-btn {
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.modal-open .modal {
    opacity: 1;
}

.modal-dialog {
    max-width: 500px;
    margin-left: 100px;
    margin-top: 100px;
}
.modal-backdrop.fade{
    opacity: 0.4;
}