
#banner {
	font-size: 24px;
	font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightgray;
    border-bottom: 3px groove gray;
}

#heading {
	font-size: 32px;
	font-weight: bold;
    padding-bottom: 20px;
}

#card-container {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#add-btn {
    padding: 24px;
    border: 1px solid black;
}

.edit-input {
    min-width: 270px;
    padding-bottom: 10px;
}

.edit-check {
    font-size: 36px;
    color: green;
}
.edit-check .btn.disabled, .btn:disabled {
    opacity: 0.35;
}

.edit-close {
    font-size: 36px;
    color: red;
}

.card-columns {
    column-count: 2;
}