<div class="modal-header">
    <h3 class="modal-title">Create New User</h3>
</div>

<div class="modal-body">
    <p>Enter name: <input type="text" style="min-width:350px" ng-model="createUser.name"/></p>
    <p>Enter email: <input type="text" style="min-width:350px" ng-model="createUser.email"/></p>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="createOkClicked()" ng-disabled="createUser.name.length===0 || createUser.email.length===0">OK</button>
    <button class="btn btn-warning" type="button" ng-click="createCancelClicked()">Cancel</button>
</div>
